body {
    margin: 0;
    padding: 0;
}
.app {
    font-size: 16px;
}
:root {
    --primary-color: #1776BF;
    --table-border: #ccc;
    --table-bg-color: #fff;
    --black : black;
    --table-header: #d2d2d2;
}

.section::-webkit-scrollbar {
    width: 10px;
}
.section::-webkit-scrollbar-track {
    background-color: darkgrey;
}